.card {
    padding: 10px 8px;
    border : 1px solid transparent;
}

.cardContainer {
    border-radius: 10px;
    text-align   : left;
    cursor       : pointer;
}

.cardContainer:hover {
    /* border: 2px solid #ccc; */

}

.cardContainer:hover .cardImgTop {
    transform: translateY(-5px);
}

.cardImgTop {
    width              : 100%;
    height             : 50%;
    min-height         : 250px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : contain;
}

.cardBody {
    padding: 25px;
}

.cardTitle {
    font-weight: 700;
}


.cardPriceContainer>* {
    margin    : 0 12px 0 0;
    text-align: left;
}

.discountPriceContainer {
    display    : flex;
    align-items: center;
}

/* has discount */
.realPrice {
    text-decoration-line: line-through;
}

.discountPrice {
    font-size: 24px;
    color    : rgb(196, 19, 19);
}

.discount {
    background-color: red;
    color           : var(--white);
    font-size       : 12px;
    padding         : 2px;
    font-weight     : 700;
    margin-left     : 20px;
}

/* don't has discount */
.notDiscount {
    font-size  : 24px;
    font-weight: 6004;
}

.cardText {}